# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Project specific files
*.lua.h
src/buildsh
src/lua
src/luac
